<br>
<div class="container">
	<form class="form-horizontal" action="actions/staff/register.php" method="post">
	  <div class="form-group">
	    <label class="control-label col-sm-2" for="fname">First Name:</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname" minlength="3" maxlength="30" required>
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="control-label col-sm-2" for="lname">Last Name:</label>
	    <div class="col-sm-10"> 
	      <input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lname" minlength="3" maxlength="30" required>
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="control-label col-sm-2" for="gender">Gender:</label>
	    <div class="col-sm-10"> 
			<label class="radio-inline"><input type="radio" name="gender" value="Male" required> Male</label>
			<label class="radio-inline"><input type="radio" name="gender" value="Female" required> Female</label>
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="control-label col-sm-2" for="dob">Date of Birth:</label>
	    <div class="col-sm-10"> 
	      <input type="date" class="form-control" id="dob" name="dob" required>
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="control-label col-sm-2" for="email">Email:</label>
	    <div class="col-sm-10">
	      <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email" required>
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="control-label col-sm-2" for="pwd">Password:</label>
	    <div class="col-sm-10"> 
	      <input type="password" class="form-control" id="pwd" placeholder="Enter Passsword" name="pwd" required>
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="control-label col-sm-2" for="repwd">Confirm Password:</label>
	    <div class="col-sm-10">
	      <input type="password" class="form-control" id="repwd" placeholder="Enter Password Again" name="repwd" required>
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="control-label col-sm-2" for="mob">Mobile Number</label>
	    <div class="col-sm-10"> 
	      <input type="number" class="form-control" id="mob" placeholder="Mobile Number" name="mob" required>
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="control-label col-sm-2" for="emp">Employed For</label>
	    <div class="col-sm-10"> 
	      <select class="form-control" id="emp" placeholder="Enter ID Card Number" name="emp" required>
	      	<option>Receptionist</option>
	      	<option>Register Taker and Queue Manager</option>
	      	<option>Sweeper</option>
	      	<option>Nurse</option>
	      	<option>Ward Boy</option>
	      </select>
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="control-label col-sm-2" for="work">Working Days</label>
	    <div class="col-sm-10"> 
			<label class="checkbox-inline"><input type="checkbox" value="Monday" name="work[]">Monday</label>
			<label class="checkbox-inline"><input type="checkbox" value="Tuesday" name="work[]">Tuesday</label>
			<label class="checkbox-inline"><input type="checkbox" value="Wednesday" name="work[]">Wednesday</label>
			<label class="checkbox-inline"><input type="checkbox" value="Thursday" name="work[]">Thursday</label>
			<label class="checkbox-inline"><input type="checkbox" value="Friday" name="work[]">Friday</label>
			<label class="checkbox-inline"><input type="checkbox" value="Saturday" name="work[]">Saturday</label>
			<label class="checkbox-inline"><input type="checkbox" value="Sunday" name="work[]">Sunday</label>
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="control-label col-sm-2" for="timing">Timings</label>
	    <label class="control-label col-sm-1" for="from">From</label>
	    <div class="col-sm-2"> 
	      <input type="time" class="form-control" id="from" name="from" required>
	    </div>
	    <label class="control-label col-sm-1" for="to">To</label>
	    <div class="col-sm-2"> 
	      <input type="time" class="form-control" id="to" name="to" required>
	    </div>
	    <div class="col-sm-4">
			<label class="checkbox-inline"><input type="checkbox" value="lunch" name="lunch">Lunch Gap From 1:00PM to 2:00PM</label>
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="control-label col-sm-2" for="degree">Qualification</label>
	    <div class="col-sm-10"> 
	      <textarea class="form-control" id="degree" placeholder="Enter Your Qualification" name="degree" required></textarea>
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="control-label col-sm-2" for="salary">Salary</label>
	    <div class="col-sm-10"> 
	      <input type="number" class="form-control" id="salary" placeholder="Enter Salary you Earned per annum" name="salary" required>
	    </div>
	  </div>
	   <div class="form-group">
	    <label class="control-label col-sm-2" for="photo">Profile Photo</label>
	    <div class="col-sm-10"> 
	      <input type="file"  id="photo"  name="photo" required>
	    </div>
	  <div class="form-group"> 
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-success"><i class="fa fa-fw fa-check"></i> Register</button>
	    </div>
	  </div>
	</form>
</div>
