		<!---start-footer-->
		<div class="footer">
			<div class="wrap">
				<div class="footer-grids">
					<div class="footer-grid">
						<h3>OUR Profile</h3>
						 <ul>
						 	
							<li><a href="#">*Leadership Team</a></li>
							<li><a href="#">*Our Vision- Defining Tomorrow's Medicine.</a></li>
							<li><a href="#">*Innovate to Advance</a></li>
							<li><a href="#">*Care to Heal</a></li>
							<li><a href="#">*Educate to Empower</a></li>
							<li><a href="#">*Our Common Purpose- Our Common Purpose</a></li>
						</ul>
					</div>
					<div class="footer-grid">
						<h3>Our Services</h3>
						 <ul>
							<li><a href="#">Physiotherapy</a></li>
							<li><a href="#">Ultrasound</a></li>
							<li><a href="#">Dietetics and nutrition</a></li>
							<li><a href="#">Vaccination</a></li>
							<li><a href="#">Health Check-ups</a></li>
							<li><a href="#">X-Ray</a></li>
							<li><a href="#">Pharmacy</a></li>
						</ul>
					</div>
					<div class="footer-grid">
						<h3>OUR Specialities</h3>
						 <ul>
							<li><a href="#">General Physician</a></li>
							<li><a href="#">Orthopaedics</a></li>
							<li><a href="#">Obstetrics & Gynaecology</a></li>
							<li><a href="#">Pulmonology & Sleep medicine</a></li>
							<li><a href="#">Internal Medicine</a></li>
							<li><a href="#">Psychologist</a></li>
							<li><a href="#">ENT</a></li>
							<li><a href="#">Cardiology</a></li>
						</ul>
					</div>
					<div class="footer-grid">
						<h3>CONTACTS</h3>
						 <p>Ansari Health Ceneter,</p>
						 <p>Ansari Nagar, New Delhi - 110029</p>
						 <p>+91-11-26588500 / 26588700.</p>
						 <p>Fax : +91-11-26588663 / 26588641.</p>
						 <p>E-mail- ansarihealthcenter@gmail.com</p>
						 <span>(011) 26984625</span>
					</div>
					<div class="clear"> </div>
				</div>
				<div class="clear"> </div>
				
				<div class="copy-tight">
					<p>Design by <a href="http://singhshobhit2222@gmail.com/">Shobhit Singh</a></p>
				</div>
				
			</div>
		</div>
		<!---End-footer-- -->
