<header class="container-fluid bg-success">
	<div class="row">
		<div class="col-md-3">
			<img src="images/logo/Jamia_Millia_Islamia_Logo_Green.png" class="img img-responsive brand-logo">
		</div>
		<div class="col-md-6 text-center" style="padding-top: 20px; font-weight: bold; font-size: 25px;">
			<h1>Ansari Health Center</h1>
			<h3>Jamia Millia Islamia</h3>
			<h5>New Delhi-110025</h5>
		</div>
		<!-- <div class="col-md-3">
			<br>
			<p>IVRS:011=24245243<br>Call Center:011-25414545<br>adobe a patient programme<br>National death ragistry</p>
		</div> -->
	</div>
</header>