<!DOCTYPE HTML>
<html>
	<head>
		<title>Medical</title>
		<link href="style.css" rel="stylesheet" type="text/css"  media="all" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/responsiveslides.css">
		<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->
		<script src="js/responsiveslides.min.js"></script>
	</head>
	<body>
			<div class="content">
				<div class="content-top-grids">
					<div class="wrap">
						<div class="content-top-grid">
							<div class="content-top-grid-header">
								<div class="content-top-grid-pic">
									<a href="#"><img src="images/imgs/timer.png" title="image-name" /></a>
								</div>
								<div class="content-top-grid-title">
									<h3>24x7 Servives</h3>
								</div>
								<div class="clear"> </div>
							</div>
								<p>24x7 hour Clinical Services and Facilities to provide quality treatment and healthcare for our patients. we do our best to make sure we offer all what is required for best patient care.</p>
								<!-- <a class="grid-button" href="#">Read More</a> -->
								<div class="clear"> </div>
						</div>
						<div class="content-top-grid">
							<div class="content-top-grid-header">
								<div class="content-top-grid-pic">
									<a href="#"><img src="images/imgs/tool.png" title="image-name" /></a>
								</div>
								<div class="content-top-grid-title">
									<h3>CARE ADVICES</h3>
								</div>
								<div class="clear"> </div>
							</div>
								<p>Ansari Health Center offers a wide variety of preventive health check up designed to pick up symptoms and signs of disease well before they become evident..</p>
								<!-- <a class="grid-button" href="#">Read More</a> -->
								<div class="clear"> </div>
						</div>
						<div class="content-top-grid">
							<div class="content-top-grid-header">
								<div class="content-top-grid-pic">
									<a href="#"><img src="images/imgs/inject.png" title="image-name" /></a>
								</div>
								<div class="content-top-grid-title">
									<h3>EMERGENCY</h3>
								</div>
								<div class="clear"> </div>
							</div>
								<p>This is a 24-hour service unit staffed to meet the requirements of various emergency situations and supported by doctors.</p>
								<!-- <a class="grid-button" href="#">Read More</a> -->
								<div class="clear"> </div>
						</div>
						<div class="clear"> </div>
					</div>
				</div>
				<div class="clear"> </div>
				<div class="boxs">
					<div class="wrap">
						<div class="section group">
							<div class="grid_1_of_3 images_1_of_3">
								  <h3>WELCOME!</h3>
								  <span>Ansari Health Center, Jamia Millia Islamia</span>
								  <p>Ansari Health Center is dedicated to the service of the students and staff of jamia, offer its services free to all jamians. Ansari Health Center is a Central University health center, run by the Central Government, supplementing on its own resources.
								  The Ansari Health Center of Jamia Millia Islamia University provides various medical services to each member of jamia either the person is student, teacher or staff.
								  Since the integrated medical and surgical facilities are provided at no cost, the services are sought by large number of the community, particularly students and staffs of the jamia every day.
									</p>
							     <p>On an average

									Around 150 patients daily visit at the OP department, per day
									Around 30 admissions at the IP department, per day
									Around 50 surgeries under various branches, per month
									And the number grows every day.</p>
							     <!-- <div class="button"><span><a href="#">Read More</a></span></div> -->
							</div>
							<div class="grid_1_of_3 images_1_of_3">
								  <h3>ABOUT US</h3>
								  <span>Our Organisation</span>
								  <p>AHC is the main provider of secondary and tertiary healthcare in JAMIA and one of the leading hospital providers from past years.From many years, AHC has been dedicated to delivering the safest, most effective and compassionate care to all its patients.</p>
								  <span>Our People</span>
								  <p>With one of the biggest workforces in Delhi, every AHC staff member is committed to delivering the safest, most effective and most compassionate care to each and every one of our patients. We are Jamia Nagar’s leading healthcare provider with having a huge staff and doctors.</p>
								 <!--  <span>Our Accreditations</span>
								  <p>AHC is committed to delivering the safest, most effective and most compassionate care to each and every one of our patients.In 2014, AHC Certified with Quality Assurance Scheme by Vellore medical college.</p> -->
								  <span>Our Partners</span>
								  <p>​AHC is evolving into the region’s academic health system and we collaborate with key high profile healthcare and academic partners in Delhi and beyond to ensure we are able to deliver the highest quality care to our patients. AHC Bhubaneswar, AHC Jodhpur, AHC Patna, AHC Raipur, AHC Rishikesh, AHC Bhopal</p>	  
							     <!-- <div class="button"><span><a href="#">Read More</a></span></div> -->
							</div>
							<div class="grid_1_of_3 images_1_of_3">
								  <h3>OUR SERVICES</h3>
								  <ul>
								  	<li><a href="#">Blood Bank Center</a></li>
								  	<li><a href="#">OPD Center</a></li>
								  	<li><a href="#">Unani Center</a></li>
								  	<li><a href="#">Pathology Labs</a></li>
								  	<li><a href="#">Ambulance Service</a></li>
								  	<li><a href="#">Eye Center</a></li>
								  	<li><a href="#">Diabetic center</a></li>
								  	<li><a href="#">Skin Care Center</a></li>
								  	<li><a href="#">Cardiologist Center</a></li>
								  	<li><a href="#">Gynaecology Center</a></li>
								  </ul>
							     <!-- <div class="button"><span><a href="#">Read More</a></span></div> -->
							</div>
						</div>
					</div>
					</div>
		</div>

	</body>
</html>