<!-- Modal -->
<div class="modal fade" id="registered" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><span class="glyphicon glyphicon-ok"></span> Registered</h4>
      </div>
      <div class="modal-body">
        <p>User registered successfully, use your email and password for login</p>
      </div>
    </div>
  </div>
</div> 
